body {
  font-family: "Montserrat", "Arial", sans-serif;
  background: #f5f5f5;
  color: #25282b;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  padding: 30px 0;
  font-style: 16px;
  line-height: 1.5;
}
.nav {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}
.nav__left {
  display: flex;
  align-items: center;
}
.nav__left-list {
  display: flex;
  flex-direction: row;
}
.nav__left-item {
  display: block;
  margin-right: 30px;
}
.nav__left-item:last-child {
  display: block;
  margin-right: 0px;
}
.nav__logo {
  margin: 0 15px;
  max-width: 54px;
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__right-list {
  display: flex;
  flex-direction: row;
}
.nav__right-item {
  display: block;
  margin-right: 30px;
}
.nav__right-item:last-child {
  display: block;
  margin-right: 0px;
}

/* =============================================== */

.section {
  padding: 120px 0;
  color: #f8fcff;
  line-height: 1.5;
  position: relative;
}
.section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.section__video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section__video::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #102e49;
  opacity: 80%;
}
.section__title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 30px;
}
.section__list {
  font-size: 24px;
  margin-bottom: 40px;
}
.section__item {
  background: url(/img/material-symbols_thumb-up.svg) 0 50% no-repeat;
  padding-left: 42px;
  margin-bottom: 15px;
}
.section__item:last-child {
  margin-bottom: 0px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  max-width: 288px;
  padding: 18px 30px;
  background-color: #d0dce7;
  border-radius: 100px;
  color: #1d6fb6;
  font-style: 16px;
  font-weight: 500;
  transition-duration: 0.5s;
}

.button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  max-width: 288px;
  padding: 18px 30px;
  background-color: #83add3;
  border-radius: 100px;
  color: #ffffff;
  font-style: 16px;
  font-weight: 500;
}

/* ============================================================= */

.main {
  padding: 120px 0;
  line-height: 1.5;
}

.main__wrap {
  display: flex;
  gap: 126px;
}

.aside {
  padding: 30px;
  max-width: 282px;
  width: 100%;
  border: 2px solid #d0dce7;
}

.aside__item {
  margin-bottom: 20px;
}

.aside__item:last-child {
  margin-bottom: 0px;
}
.article {
  margin-bottom: 120px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  grid-auto-flow: dense;
}
.gallery__img {
  position: relative;
  overflow: hidden;
}
.gallery__img img {
  width: 100%;
}
.gallery__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f8fcff;
  height: 53px;
  background-color: #1d6fb6;
  opacity: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(100%);
  transition-duration: 0.6s;
}

.gallery__img:hover .gallery__text {
  transform: translateY(0%);
}

.big-left .gallery__text {
  height: 103px;
  font-size: 24px;
  line-height: 29px;
}

.big-right .gallery__text {
  height: 103px;
  font-size: 24px;
  line-height: 29px;
}

.big-left {
  grid-column: 1/3;
  grid-row: span 2;
}

.big-right {
  grid-column: 3/5;
  grid-row: span 2;
}

.footer {
  background-color: #788088;
  height: 80px;
  color: #f8fcff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer svg {
  margin-right: 10px;
}

/* ================================================== */

.main__body {
}
.article-two {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.product {
}
.product-img {
  position: relative;
  padding-bottom: 62%;
}
.product-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.btn-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 116px;
  border: 1px solid #d0dce7;
}

.product__features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 56px;
  background-color: #f8fcff;
  border-radius: 0 25px 25px 0;
  color: #1d6fb6;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;

  animation: effect 2s infinite alternate;
}

@keyframes effect {
  0% {
    width: 130px;
  }
  66% {
    width: 130px;
  }
  100% {
    width: 148px;
  }
}
