body {
  font-family: Montserrat;
  width: 1440px;
}
header {
  height: 114px;
  background-color: #1d2542;
  padding: 30px 0px 36px 0px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
nav {
  width: 437px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.navigation {
  color: white;
}
.login {
  width: 113px;
  background-color: white;
  border-radius: 100px;
  padding: 14px 30px;
  height: 48px;
  font-weight: 500;
  color: #2766ae;
}
.conteiner {
  width: 900px;
  margin: 0 270px 0 276px;
}

main {
  background: url(/img/hero-bg.jpg);
  height: 508px;
  padding-top: 131px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.firstblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 436px;
  height: 159px;
  font-size: 16px;
  color: white;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.texttransform {
  font-weight: 700;
  text-transform: uppercase;
  color: #01a2cb;
}
.button2 {
  width: 320px;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button2 button {
  width: 320px;
  height: 56px;
  background-color: #00a4cc;
  border-radius: 100px;
  padding: 18px 30px;
  color: white;
}
.infocard {
  height: 808px;
  background-color: #1d2542;
  padding-top: 120px;
}
.headtext {
  width: 513px;
  height: 122px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-style: 16px;
  line-height: 24px;
  color: white;
}

.cardblock {
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
article {
  width: 204px;
  height: 141px;
  border: 2px solid #176bae;
  box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
  background: #197cb8;
  border-radius: 16px;
  padding: 28px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 24px;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bigbutton {
}

.touch {
  display: block;
  margin: 30px auto;
  width: 436px;
  height: 56px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 18px 30px;
  background-color: #00a4cc;
  color: white;
}

footer {
  width: 1440px;
  height: 361px;
  background-color: #1d2542;
  padding-top: 60px;
}

.end {
  display: flex;
  width: 811px;
  height: 241px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
h3 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.firste {
  width: 267px;
  height: 159px;
  line-height: 24px;
  margin-right: 197px;
}
.firste img {
  margin-bottom: 15px;
}
.second {
  width: 115px;
  margin-right: 117px;
  line-height: 24px;
}
.third {
  width: 115px;
  line-height: 24px;
}
