body {
  background-color: #202020;
  width: 100%;
  height: 100%;
}
.container {
  margin: 300px 300px;
}
.todo__title {
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 40px;
}

.todo__form {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  font-size: 30px;
  color: aliceblue;
  margin-bottom: 40px;
}
.todo__input {
  border: 1px solid wheat;
  border-radius: 10px;
  max-height: 50px;
  padding: 5px 10px;
}
.todo__input::placeholder {
  color: aliceblue;
}
.todo__button-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 40px;
  width: 100%;
  background-color: #2c9702b7;
}
.todo__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  border-radius: 10px;
  max-width: 40px;
  width: 100%;
  background-color: #970202b7;
  flex-shrink: 0;
}
.todo__button-done {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  border-radius: 10px;
  max-width: 40px;
  width: 100%;
  background-color: #d8d403b7;
  flex-shrink: 0;
}
.todo__block {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 40px;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 600px;
  height: 500px;
  color: white;
  font-size: 24px;
  font-style: italic;
  overflow: auto;
}
.todo__ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.todo__li {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.todo__li-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  max-width: 90px;
  width: 100%;
}
.textDecoration {
  text-decoration: line-through;
}
