.footer {
  background: #ab8261;
  padding: 60px 0 60px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #fff9f4;
  line-height: 1.5;
}
.footer__col:first-child {
  margin-top: -30px;
}
.footer__logo {
  display: block;
  max-width: 240px;
}
.footer__logo img {
  width: 100%;
}
.footer__logo-text {
  margin-bottom: 20px;
}
.socials {
  display: flex;
  gap: 15px;
}
.socials__item {
}
.socials__link path {
  transition: all 0.4s;
}
.socials__link:hover path {
  fill: #ffa55c;
}
.footer__col-list {
  margin-top: -5px;
}
.footer__col-item {
  margin-bottom: 10px;
}
.footer__col-item:last-child {
  margin-bottom: 0px;
}
.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

.footer__col-link:hover:before {
  opacity: 1;
}

.footer__contact-list {
}
.footer__contact-item {
  margin-bottom: 10px;
}
.footer__contact-item:last-child {
  margin-bottom: 0px;
}
.footer__col-tel {
}
.footer__col-number {
  display: block;
  line-height: 1.6;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.4s;
  margin-bottom: 47px;
}
.footer__col-number:hover {
  color: #ffa55c;
}
.footer__col-copy {
  color: #dec5b1;
}