.header {
  background: url("../img/decor/Group\ 8.png") 50% 100% / cover no-repeat;
}
.header__top {
  padding: 20px;
}
.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav {
}
.nav__list {
  display: flex;
  gap: 4vh 40px;
}
.nav__item {
}
.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
.nav__link:hover:before {
  opacity: 1;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span {
  position: relative;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: #312c27;
  transition: all 0.4s;
}

.burger-icon span::after,
.burger-icon span::before {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  bottom: -8px;
}

.burger-icon span::after {
  top: -8px;
}
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  bottom: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  top: 0px;
  transform: rotate(-45deg);
}

/* ==================================================================*/

.hero {
  padding: 50px 0 140px 0;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.hero__section {
  max-width: 520px;
}
.hero__info {
  color: #b197b2;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;

  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span:after {
  content: "";
  background-color: #b197b2;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0 10px;
}
.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  color: #1f1711;
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 30px;
}
.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  position: relative;
  margin-right: 247px;
  max-width: 377px;
}

.hero__img > img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px);
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #ffe0cb;
  box-shadow: 0 4px 20px rgba(184, 148, 126, 0.3);
  position: relative;
}
.hero__img-button img {
  padding-left: 8%;
}

.hero__img-button::before {
  content: "";
  border: 1px solid #ffa55c;
  inset: 5px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
}
.hero__img-button:hover::before {
  opacity: 1;
}