.body {
  font-family: "Montserrat", "arial", sans-serif;
  line-height: 1.5;
  font-style: 16px;
  color: #312c27;
  background-color: #fff9f4;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.button {
  font-style: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: #ffa55c;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  height: 62px;
  transition: all 0.4s;
}
.button:hover {
  background-color: #ff9138;
}

.body--opened-modal {
  overflow: hidden;
}
.body--opened-menu {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: #00000062;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal--show {
}
.modal__window {
  width: 430px;
  height: 490px;
  background-color: #fff9f4;
  border-radius: 20px;
  padding: 0 60px 60px;
  position: relative;
}

.modal__cancle {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__cancle path,
.modal__cancle rect {
  transition: all 0.5s;
}

.modal__cancle:hover path,
.modal__cancle:hover rect {
  stroke: #ac907a;
}

.modal__img {
  max-width: 100%;
  margin-top: -65px;
  margin-left: 12px;
  margin-bottom: 15px;
}
.modal__title {
  font-size: 42px;
  font-family: Gabriola;
  line-height: 0.9;
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}
.modal__form {
}

.field {
  position: relative;
}
.field span {
  position: absolute;
  top: 12px;
  left: 29px;
  font-size: 11px;
  visibility: hidden;
}

.field__input {
  display: block;
  width: 100%;
  background: #00000000;
  border: 1px solid #ac907a;
  border-radius: 100px;
  margin-bottom: 10px;
  padding: 19px 41px 19px 28px;
  font-size: 16px;
  transition: all 0.4s;
}

.field__input:hover {
  border: 1px solid #ffa55c;
}

.field__input:focus {
  padding: 26px 41px 12px 28px;
  border: 1px solid #ffa55c;
}
.field__input:focus + span {
  visibility: visible;
}

.field__input::placeholder {
  color: #ac907a;
  transition: all 0.4s;
}
.field__input:hover::placeholder {
  color: #ffa55c;
}

.button {
  width: 100%;
}
/* ================================================================ */

.header {
  background: url("../img/decor/Group\ 8.png") 50% 100% / cover no-repeat;
}
.header__top {
  padding: 20px;
}
.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav {
}
.nav__list {
  display: flex;
  gap: 4vh 40px;
}
.nav__item {
}
.nav__link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
.nav__link:hover:before {
  opacity: 1;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span {
  position: relative;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: #312c27;
  transition: all 0.4s;
}

.burger-icon span::after,
.burger-icon span::before {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  bottom: -8px;
}

.burger-icon span::after {
  top: -8px;
}
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  bottom: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  top: 0px;
  transform: rotate(-45deg);
}

/* ==================================================================*/

.hero {
  padding: 50px 0 140px 0;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.hero__section {
  max-width: 520px;
}
.hero__info {
  color: #b197b2;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;

  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span:after {
  content: "";
  background-color: #b197b2;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin: 0 10px;
}
.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  color: #1f1711;
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 30px;
}
.hero__text {
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__button {
  max-width: 360px;
  width: 100%;
}

.hero__img {
  position: relative;
  margin-right: 247px;
  max-width: 377px;
}

.hero__img > img {
  width: 100%;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  bottom: 11%;
  left: calc(100% - 39px);
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #ffe0cb;
  box-shadow: 0 4px 20px rgba(184, 148, 126, 0.3);
  position: relative;
}
.hero__img-button img {
  padding-left: 8%;
}

.hero__img-button::before {
  content: "";
  border: 1px solid #ffa55c;
  inset: 5px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
}
.hero__img-button:hover::before {
  opacity: 1;
}

/*====================================================================*/
.footer {
  background: #ab8261;
  padding: 60px 0 60px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #fff9f4;
  line-height: 1.5;
}
.footer__col:first-child {
  margin-top: -30px;
}
.footer__logo {
  display: block;
  max-width: 240px;
}
.footer__logo img {
  width: 100%;
}
.footer__logo-text {
  margin-bottom: 20px;
}
.socials {
  display: flex;
  gap: 15px;
}
.socials__item {
}
.socials__link path {
  transition: all 0.4s;
}
.socials__link:hover path {
  fill: #ffa55c;
}
.footer__col-list {
  margin-top: -5px;
}
.footer__col-item {
  margin-bottom: 10px;
}
.footer__col-item:last-child {
  margin-bottom: 0px;
}
.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

.footer__col-link:hover:before {
  opacity: 1;
}

.footer__contact-list {
}
.footer__contact-item {
  margin-bottom: 10px;
}
.footer__contact-item:last-child {
  margin-bottom: 0px;
}
.footer__col-tel {
}
.footer__col-number {
  display: block;
  line-height: 1.6;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.4s;
  margin-bottom: 47px;
}
.footer__col-number:hover {
  color: #ffa55c;
}
.footer__col-copy {
  color: #dec5b1;
}

/*====================================================================*/

.about {
  padding: 140px 0;
}
.about__inner {
  display: flex;
  gap: 53px;
}
.about__img {
  max-width: 603px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.about__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.about__img-control {
  display: flex;
  bottom: 25px;
  left: 30px;
  width: 299px;
  height: 109px;
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  position: absolute;
  color: #fff9f4;
  text-align: left;
  line-height: 1.5;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
.about__img-button {
  display: flex;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #fff9f4;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.about__body {
  max-width: 623px;
}
.about__heading {
}
.about__title {
  font-size: 74px;
  line-height: 0, 82;
  font-family: Gabriola;
}
.about__title-text {
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 40px;
}
.about__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 32px;
}
.about__grid-item {
  display: flex;
  width: 295px;
  height: 130px;
  border-radius: 20px;
  background: #ffe0cb;
  text-align: left;
  align-items: center;
  gap: 15px;
  padding: 5px 24px;
}
.about__grid-img {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #312c27;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.about__grid-text {
}

/*====================================================================*/

.main__program {
  margin-bottom: 140px;
}
.program {
}
.program__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 60px;
}
.program__heading {
}
.program__title {
  color: #1f1711;
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 20px;
}
.program__text {
}
.tab-controls {
  display: flex;
  align-items: end;
  gap: 26px;
  margin-bottom: 10px;
}

.tab-controls__item {
}

.tab-controls__link {
  display: block;
  border-radius: 100px;
  padding: 14px 30px;
  box-shadow: 0 4px 20px rgba(206, 195, 185, 0.3);
  white-space: nowrap;

  transition: all 0.5s;
}

.tab-controls__link:hover {
  background: #ffe0cb;
}
.tab-controls__link--active {
  background: #ffe0cb;
  box-shadow: 0 4px 20px rgba(206, 195, 185, 0);
}
.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

/*====================================================================*/

.accordion-list {
}
.accordion-list__item {
  border: 1px solid #ffa55c;
  border-radius: 20px;

  margin-bottom: 30px;
}
.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__control {
  padding: 41px 30px;
  background: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;

  transition: all 0.4s;
}

.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: #ffa55c;
}
.accordion-list__control:hover .accordion-list__control-icon path {
  fill: #fff9f4;
}

.accordion-list__item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
  background: #ffa55c;
}
.accordion-list__item--opened .accordion-list__control-icon path {
  fill: #fff9f4;
}
.accordion-list__control-title {
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  color: #1f1711;
  text-align: left;
}
.accordion-list__control-icon {
  width: 36px;
  height: 36px;
  border: 1.5px solid #ffa55c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.5s;
  margin-left: 10px;
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion-content {
  padding: 0 30px 40px 30px;
  display: flex;
  gap: 80px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__title {
  text-transform: uppercase;
  line-height: 1.6;
  color: #ceaad0;
  margin-bottom: 20px;
}
.accordion-content__list {
}

.accordion-content__item {
  color: #312c27;
  margin-bottom: 20px;
  display: flex;
}
.accordion-content__item:last-child {
  margin-bottom: 0px;
}
.accordion-content__icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ceaad0;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}
.accordion-content__icon img {
  max-width: 9.6px;
}
.accordion-content__text {
  color: #312c27;
}

/*====================================================================*/

.program__bottom {
  display: flex;
  gap: 92px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.6fr 1fr;
  gap: 40px;
  max-width: 500px;
}
.program__discount {
  font-size: 20px;
  border-radius: 20px;
  background: #ffe0cb;
  grid-row: 1 / 3;
  padding: 40px;
  color: #312c27;
}
.program__discount span {
  font-size: 16px;
  margin-left: 40%;
}
.program__discount-value {
  display: block;
  color: #ffa55c;
  font-size: 74px;
  line-height: 0.82;
  font-family: Gabriola;
  font-style: 16px;
  margin: 0 0 7px 13%;

  transform-origin: 0 0;

  animation: discount 0.8s infinite alternate linear;
}

@keyframes discount {
  0% {
    color: #ffa55c;
  }
  100% {
    transform: translateX(4%) translateY(5%) scale(1.15);
    color: #ff9138;
  }
}

.program__price {
  max-width: 173px;
}
.program__price-text {
  color: #ceaad0;
  text-transform: uppercase;
}
.program__price-value {
  color: #312c27;
  font-size: 32px;
  font-family: Gabriola;
}
.program__price-value--big {
  color: #1f1711;
  font-size: 50px;
}

.program__button {
  grid-column: 1/-1;
}
.program__img {
  max-width: 593px;
}
.program__img img {
  width: 100%;
}
/*====================================================================*/

@media (max-width: 1200px) {
  .hero__img-control {
    position: static;
    margin-top: 20px;
  }
  .hero__img {
    margin-right: 20px;
  }

  .footer__inner {
    flex-wrap: wrap;
    gap: 50px 70px;
    justify-content: space-evenly;
  }

  .about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__body {
    max-width: 95%;
  }

  .about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about__grid-item {
    width: 95%;
  }

  .program__bottom {
    gap: 20px;
  }
  .program__action {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .program__discount {
    padding: 40px 30px 40px;
  }
  .program__top {
    flex-direction: column;
    gap: 30px 15px;
  }
  .tab-controls {
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    z-index: 10;
    inset: 0;
    background: #fff9f4;
    padding: 26vh 15px 30px;
    font-style: 24px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }
  .footer__col:nth-child(2) {
    order: 0;
  }
  .program__bottom {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .accordion-list__control-title {
    font-size: 36px;
  }
  .accordion-list__control {
    padding: 30px 20px;
  }
  .accordion-content {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 800px) {
  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px 0;
  }
  .hero__img {
    display: none;
  }
  .hero__section {
    max-width: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .about__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 32px;
    justify-content: center;
  }
  .tab-controls {
    justify-content: center;
    gap: 10px;
  }
  .program__title {
    font-size: 10vw;
  }
  .accordion-content {
    flex-direction: column;
    gap: 40px;
  }
  .accordion-content__text br {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 12vw;
  }
  .hero {
    padding-bottom: 70px;
  }
  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__title {
    font-size: 12vw;
  }
  .about__grid-item {
    padding: 5px 16px;
  }

  .modal {
    padding: 15px;
  }
  .modal__window {
    padding: 0 50px 50px;
  }
  .modal__title {
    font-size: 37px;
  }
  .modal__img {
    margin-left: 20px;
  }
  .tab-controls {
    flex-wrap: wrap;
  }
  .program__title {
    font-size: 12vw;
  }
  .accordion-content__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .program__discount {
    grid-column: 1/3;
    padding-left: 38px;
  }
}
@media (max-width: 400px) {
  .about__img-control {
    bottom: 0px;
    left: 0px;
    border-radius: 0px 20px 0px 20px;
    gap: 8px;
    padding: 10px 10px;
  }
  .about__img-button {
    width: 65px;
    height: 65px;
  }
  .modal__window {
    padding: 0 40px 40px;
  }
  .modal__title {
    font-size: 35px;
  }
  .modal__img {
    margin-left: 5px;
    width: 90%;
  }
  .program__title {
    font-size: 12vw;
  }
  .program__price-value--big {
    font-size: 45px;
  }
}
