@import "reset.css";
@import "fonts.css";
@import "global.css";

@import "header.css";

@import "footer.css";

/* ================================================================ */

/*====================================================================*/

/*====================================================================*/

.about {
  padding: 140px 0;
}
.about__inner {
  display: flex;
  gap: 53px;
}
.about__img {
  max-width: 603px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.about__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}
.about__img-control {
  display: flex;
  bottom: 25px;
  left: 30px;
  width: 299px;
  height: 109px;
  background: rgba(149, 123, 151, 0.9);
  border-radius: 20px;
  position: absolute;
  color: #fff9f4;
  text-align: left;
  line-height: 1.5;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
.about__img-button {
  display: flex;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #fff9f4;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.about__body {
  max-width: 623px;
}
.about__heading {
}
.about__title {
  font-size: 74px;
  line-height: 0, 82;
  font-family: Gabriola;
}
.about__title-text {
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 40px;
}
.about__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 32px;
}
.about__grid-item {
  display: flex;
  width: 295px;
  height: 130px;
  border-radius: 20px;
  background: #ffe0cb;
  text-align: left;
  align-items: center;
  gap: 15px;
  padding: 5px 24px;
}
.about__grid-img {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #312c27;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.about__grid-text {
}

/*====================================================================*/

.main__program {
  margin-bottom: 140px;
}
.program {
}
.program__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 60px;
}
.program__heading {
}
.program__title {
  color: #1f1711;
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 20px;
}
.program__text {
}
.tab-controls {
  display: flex;
  align-items: end;
  gap: 26px;
  margin-bottom: 10px;
}

.tab-controls__item {
}

.tab-controls__link {
  display: block;
  border-radius: 100px;
  padding: 14px 30px;
  box-shadow: 0 4px 20px rgba(206, 195, 185, 0.3);
  white-space: nowrap;

  transition: all 0.5s;
}

.tab-controls__link:hover {
  background: #ffe0cb;
}
.tab-controls__link--active {
  background: #ffe0cb;
  box-shadow: 0 4px 20px rgba(206, 195, 185, 0);
}
.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

/*====================================================================*/

.accordion-list {
}
.accordion-list__item {
  border: 1px solid #ffa55c;
  border-radius: 20px;

  margin-bottom: 30px;
}
.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__control {
  padding: 41px 30px;
  background: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;

  transition: all 0.4s;
}

.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: #ffa55c;
}
.accordion-list__control:hover .accordion-list__control-icon path {
  fill: #fff9f4;
}

.accordion-list__item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
  background: #ffa55c;
}
.accordion-list__item--opened .accordion-list__control-icon path {
  fill: #fff9f4;
}
.accordion-list__control-title {
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  color: #1f1711;
  text-align: left;
}
.accordion-list__control-icon {
  width: 36px;
  height: 36px;
  border: 1.5px solid #ffa55c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.5s;
  margin-left: 10px;
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion-content {
  padding: 0 30px 40px 30px;
  display: flex;
  gap: 80px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__title {
  text-transform: uppercase;
  line-height: 1.6;
  color: #ceaad0;
  margin-bottom: 20px;
}
.accordion-content__list {
}

.accordion-content__item {
  color: #312c27;
  margin-bottom: 20px;
  display: flex;
}
.accordion-content__item:last-child {
  margin-bottom: 0px;
}
.accordion-content__icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ceaad0;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}
.accordion-content__icon img {
  max-width: 9.6px;
}
.accordion-content__text {
  color: #312c27;
}

/*====================================================================*/

.program__bottom {
  display: flex;
  gap: 92px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.6fr 1fr;
  gap: 40px;
  max-width: 500px;
}
.program__discount {
  font-size: 20px;
  border-radius: 20px;
  background: #ffe0cb;
  grid-row: 1 / 3;
  padding: 40px;
  color: #312c27;
}
.program__discount span {
  font-size: 16px;
  margin-left: 40%;
}
.program__discount-value {
  display: block;
  color: #ffa55c;
  font-size: 74px;
  line-height: 0.82;
  font-family: Gabriola;
  font-style: 16px;
  margin: 0 0 7px 13%;

  transform-origin: 0 0;

  animation: discount 0.8s infinite alternate linear;
}

@keyframes discount {
  0% {
    color: #ffa55c;
  }
  100% {
    transform: translateX(4%) translateY(5%) scale(1.15);
    color: #ff9138;
  }
}

.program__price {
  max-width: 173px;
}
.program__price-text {
  color: #ceaad0;
  text-transform: uppercase;
}
.program__price-value {
  color: #312c27;
  font-size: 32px;
  font-family: Gabriola;
}
.program__price-value--big {
  color: #1f1711;
  font-size: 50px;
}

.program__button {
  grid-column: 1/-1;
}
.program__img {
  max-width: 593px;
}
.program__img img {
  width: 100%;
}

/*====================================================================*/
.main-gallery {
  padding-bottom: 140px;
}
.gallery {
}
.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img {
  justify-self: center;
}
.gallery__img img {
  max-width: 100%;
}
.gallery__content {
  display: flex;
  gap: 15px;
  align-items: end;
  justify-content: space-between;
}
.gallery__info {
  max-width: 380px;
}
.gallery__title {
  font-size: 74px;
  font-family: Gabriola;
  line-height: 0.82;
  margin-bottom: 20px;
}
.gallery__text {
}
.gallery__nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 98px;
  line-height: 0.9;
}
.gallery__prev {
}
.gallery__pagination {
  font-family: Gabriola;
  font-size: 42px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
  width: auto;
}
.gallery__next {
}
.gallery__next,
.gallery__prev {
  background: transparent;
  cursor: pointer;
  border: 1.5px solid #ffa55c;
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.gallery__next path,
.gallery__prev path {
  transition: all 0.4s;
}

.gallery__next:hover,
.gallery__prev:hover {
  background-color: #ff9138;
}
.gallery__next:hover path,
.gallery__prev:hover path {
  fill: #ffffff;
}

.swiper-button-disabled.gallery__next,
.swiper-button-disabled.gallery__prev {
  border: 1.5px solid #e1d9e1;
  cursor: auto;
}

.swiper-button-disabled.gallery__next path,
.swiper-button-disabled.gallery__prev path {
  fill: #e1d9e1;
}

.swiper-button-disabled.gallery__next:hover,
.swiper-button-disabled.gallery__prev:hover {
  background-color: transparent;
}
.swiper-button-disabled.gallery__next:hover path,
.swiper-button-disabled.gallery__prev:hover path {
  fill: #e1d9e1;
}

.gallery__slider {
}
.gallery__wrapper {
}
.gallery__slide img {
  border-radius: 20px;
  overflow: hidden;
}
.gallery__slide img {
  width: 100%;
}

/*====================================================================*/

.main__testimonial {
  margin-bottom: 140px;
}
.testimonials {
}
.testimonial__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
  gap: 20px;
}
.testimonial__info {
  max-width: 632px;
}
.testimonial__title {
  font-family: Gabriola;
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 20px;
}
.testimonial__text {
  line-height: 1.5;
}
.testimonial__nav {
  display: flex;
  gap: 30px;
}
.testimonial__prev {
  background: transparent;
  cursor: pointer;
  border: 1.5px solid #ffa55c;
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.testimonial__next {
  background: transparent;
  cursor: pointer;
  border: 1.5px solid #ffa55c;
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.testimonial__next path,
.testimonial__prev path {
  transition: all 0.4s;
}

.testimonial__next:hover,
.testimonial__prev:hover {
  background-color: #ff9138;
}
.testimonial__next:hover path,
.testimonial__prev:hover path {
  fill: #ffffff;
}

.swiper-button-disabled.testimonial__next,
.swiper-button-disabled.testimonial__prev {
  border: 1.5px solid #e1d9e1;
  cursor: auto;
}

.swiper-button-disabled.testimonial__next path,
.swiper-button-disabled.testimonial__prev path {
  fill: #e1d9e1;
}

.swiper-button-disabled.testimonial__next:hover,
.swiper-button-disabled.testimonial__prev:hover {
  background-color: transparent;
}
.swiper-button-disabled.testimonial__next:hover path,
.swiper-button-disabled.testimonial__prev:hover path {
  fill: #e1d9e1;
}

.testimonial__slider {
  overflow: visible;
}
.testimonial__wrapper {
  margin-bottom: 40px;
}

.testimonial__slide {
  max-width: 624px;
  background: #ffe0cb;
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
  height: auto;
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}

.testimonial__slide.swiper-slide {
  transform: scale(0.86);
}

.swiper-slide-active.testimonial__slide {
  transform: scale(1);
  opacity: 1;
}

.testimonial__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 165px;
  width: 100%;
  flex-shrink: 0;
}
.testimonial__user-img {
  margin-bottom: 20px;
}
.testimonial__user-img img {
  border-radius: 20px;
  width: 100%;
}
.testimonial__user-name {
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.testimonial__user-inst {
  line-height: 1.5;
  color: #ceaad0;
}
.testimonial__user-inst img {
  fill: #ceaad0;
}

.testimonial__quote span {
  display: block;
  font-family: Gabriola;
  font-size: 32px;
  line-height: 0.9;
  margin-bottom: 10px;
}
.testimonial__quote {
  line-height: 1.5;
}
.testimonial__scrollbar.swiper-scrollbar {
  position: static;
  height: 7px;
  background: #ffe0cb;
}

.testimonial__scrollbar .swiper-scrollbar-drag {
  background: #ffa55c;
  height: 7px;
}

/*====================================================================*/

@media (max-width: 1200px) {
  .hero__img-control {
    position: static;
    margin-top: 20px;
  }
  .hero__img {
    margin-right: 20px;
  }

  .footer__inner {
    flex-wrap: wrap;
    gap: 50px 70px;
    justify-content: space-evenly;
  }

  .about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__body {
    max-width: 95%;
  }

  .about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about__grid-item {
    width: 95%;
  }

  .program__bottom {
    gap: 20px;
  }
  .program__action {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .program__discount {
    padding: 40px 30px 40px;
  }
  .program__top {
    flex-direction: column;
    gap: 30px 15px;
  }
  .tab-controls {
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    z-index: 10;
    inset: 0;
    background: #fff9f4;
    padding: 26vh 15px 30px;
    font-style: 24px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  .gallery__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 40px;
  }
  .gallery__img {
    display: none;
  }

  .gallery__info {
    max-width: none;
  }

  .footer__col:nth-child(2) {
    order: 0;
  }
  .program__bottom {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .accordion-list__control-title {
    font-size: 36px;
  }
  .accordion-list__control {
    padding: 30px 20px;
  }
  .accordion-content {
    padding: 0 20px 20px 20px;
  }

  .testimonial__scrollbar.swiper-scrollbar {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px 0;
  }
  .hero__img {
    display: none;
  }
  .hero__section {
    max-width: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .about__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 32px;
    justify-content: center;
  }
  .tab-controls {
    justify-content: center;
    gap: 10px;
  }
  .program__title {
    font-size: 10vw;
  }
  .accordion-content {
    flex-direction: column;
    gap: 40px;
  }
  .accordion-content__text br {
    display: none;
  }

  .main-gallery {
    padding-bottom: 100px;
  }

  /*======================================*/

  .testimonial__inner {
    flex-direction: column;
    align-items: stretch;
  }

  .testimonial__nav {
    align-self: self-end;
  }

  .testimonial__title {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 12vw;
  }
  .hero {
    padding-bottom: 70px;
  }

  .gallery__content {
    display: flex;
    flex-direction: column;
    gap: 35px 15px;
  }

  .gallery__inner {
    margin-bottom: 20px;
  }

  .gallery__title {
    font-size: 64px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__title {
    font-size: 12vw;
  }
  .about__grid-item {
    padding: 5px 16px;
  }

  .modal {
    padding: 15px;
  }
  .modal__window {
    padding: 0 50px 50px;
  }
  .modal__title {
    font-size: 37px;
  }
  .modal__img {
    margin-left: 20px;
  }
  .tab-controls {
    flex-wrap: wrap;
  }
  .program__title {
    font-size: 12vw;
  }
  .accordion-content__item {
    margin-bottom: 10px;
  }

  .testimonial__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .program__discount {
    grid-column: 1/3;
    padding-left: 38px;
  }
}
@media (max-width: 400px) {
  .about__img-control {
    bottom: 0px;
    left: 0px;
    border-radius: 0px 20px 0px 20px;
    gap: 8px;
    padding: 10px 10px;
  }
  .about__img-button {
    width: 65px;
    height: 65px;
  }
  .modal__window {
    padding: 0 40px 40px;
  }
  .modal__title {
    font-size: 35px;
  }
  .modal__img {
    margin-left: 5px;
    width: 90%;
  }
  .program__title {
    font-size: 12vw;
  }
  .program__price-value--big {
    font-size: 45px;
  }

  .testimonial__slide {
    padding: 20px 10px 30px;
  }
}

/*=====================================*/

.testimonial__title {
  font-size: 50px;
}
