/*=============================   Footer   =======================================*/
.footer {
  width: 100%;
  background-color: #202020;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0;
  width: 100%;
}
.footer__rigth-logo {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  font-size: 25px;
  font-family: serif;
}
.footer__rigth-logo::before {
  content: url(../img/logo/crown.svg);
  position: absolute;
  top: -23px;
  left: 9px;
}
.footer__rigth-social {
  display: flex;
  gap: 15px;
  max-width: 250px;
  width: 100%;
  padding: 10px 10px 10px 0px;
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #ffffff4a;
  border-radius: 50%;
}
.social:hover {

border: 1px solid white;

}
.social a {
  padding: 11px;
  width: 45px;
}
.social img {
  width: 100%;
}
.footer__rigth-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__left-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 1, 50;
  text-align: center;
  margin-bottom: 20px;
}
.footer__left-phone {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.footer__left-phone:hover{
  text-decoration-line: underline;
}
.footer__left-button {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.59;
  max-width: 274px;
  width: 100%;
  height: 71px;
  color: #000000;
  transition: all 0.4s;
}
.footer__left-button:hover {
  box-shadow: 0px 6px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 69px -3px rgba(226, 128, 72, 1);
}
.footer__left-button:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}
