.header__top {
  padding-top: 40px;
  margin-bottom: 30px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 1;
}

/*=========================================================*/

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
  gap: 5px;
  font-family: "Latin CT Wide";
  font-size: 12px;
  line-height: 1.19;
  order: -1;
}
.header__logo::before {
  content: url(../img/logo/crown.svg);
  position: absolute;
  top: -23px;
  left: 9px;
}

.header__logo-img {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lang {
  display: inline-block;
  max-width: 80px;
  margin-right: 70px;
}

.lang__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lang__item {
  position: relative;
  align-items: center;
  gap: 6px;
  margin-right: 95px;
  display: none; /* по умолчанию скрыто */
  cursor: pointer;
}

.activ {
  display: flex; /* показываем активный элемент */
}

.lang-selection {
  margin-left: 0px;
}
.lang-Button--selection {
  position: absolute;
  top: 2px;
  left: 58px;
  cursor: pointer;
}
.dropdown {
  display: none;
  position: absolute;
  top: 140%;
  left: 0;
  background: #0e0e12;
  border: 1px solid #ccc;
  border-radius: 10%;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 12;
}
.lang__item.open .dropdown {
  display: block; /* показываем меню при открытии */
}
.dropdown li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #f0f0f00e;
}
.dropdown img {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}
/*=========================================================*/
/* Стили для бургер-меню */
.burger {
  display: none; /* по умолчанию скрыт, покажем на мобильных */
  width: 30px;
  height: 25px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10; /* чтобы было выше меню */
  order: -2;
}
.burger__item {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.burger__item:nth-child(even) {
  width: 20px;
}
/*=========================================================*/
.nav {
  margin-right: auto;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  margin-right: 95px;
}
.nav__link:hover {
  background: linear-gradient(
    45deg,
    rgba(231, 170, 25, 1),
    rgba(203, 109, 156, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__link:hover::before {
  content: url(../img/icon/Stars.svg);
  top: -50%;
  left: 105%;
  position: absolute;
}

.nav__link:last-child {
  margin-right: 0;
}
.header__button {
  display: flex;
  gap: 20px;
}
.header__button-reg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 60px;

  border-radius: 20px;
  padding: 21px 28px;
}
.header__button-reg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* должен совпадать с радиусом элемента */
  padding: 1px; /* Толщина границы */
  background: linear-gradient(45deg, #ff8924, #ffb017); /* Ваш градиент */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* чтобы не мешал кликам */
}

.header__button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 60px;
  border-radius: 20px;
  font-weight: 700;
  color: #000000;
  background: linear-gradient(90deg, #dc6b30, #e4864f, #ffbe82, #e49031);
  padding: 25px 36px;
  box-shadow: 0px 6px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.76);
  transition: all 0.4s;
}
.header__button-open:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}
/*=========================================================*/
.chance {
  margin-bottom: 40px;
}
.chance__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  padding: 25px 40px 20px 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.07));
}
.chance__preview {
  display: flex;
  align-items: center;
}
.chance__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.chance__gift {
  margin-right: 15px;
}
.chance__title {
  font-weight: 700;
}
.countdown {
  white-space: nowrap;
  font-size: 20px;
}
.countdown span {
  font-size: 30px;
}
/*=========================================================*/
.action {
  position: relative;
}
.action::before {
  content: "";
  position: absolute;
  top: 120px; /* или по вашему желанию */
  right: 220px;
  width: 484px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );
  border-radius: 50%; /* или по желанию */
  filter: blur(200px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}
.action::after {
  content: url(../img/decor/WoodenHandiPhone.png);
  position: absolute;
  top: -140px;
  right: 0;
  z-index: -1;
}
.action__inner {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 20px;
}
.action__content {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}
.action__title {
  display: block;
  max-width: 1000px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  color: #ffffff;
}
.ation__list {
  position: relative;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.59;
  color: #eae9e9;
  margin-bottom: 40px;
}
.ation__list::before {
  position: absolute;
  content: url(../img/decor/Arrow.svg);
  top: 25px;
  left: -60px;
}
.ation__item {
  position: relative;
  padding-left: 40px;
}
.ation__item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #eae9e9;
}
.action__button {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.action__button-download {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  color: #000000;
  padding: 36px 35px;
  max-width: 378px;
  width: 100%;
  transition: all 0.4s;
}
.action__button-download:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}
.action__button-download img {
  position: absolute;
  top: -10px;
  right: -30px;
}
.button {
  border-radius: 20px;
  background: linear-gradient(90deg, #dc6b30, #e4864f, #ffbe82, #e49031);
  box-shadow: 0px 6px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.76);
}
.action__button-openScore {
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  background: transparent;
  border: 4px solid #ce6933;
  border-radius: 20px;
  max-width: 377px;
  width: 100%;
  padding: 36px 25px;
}
.action__investors {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 71px;
}
.action__investors-1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -40px;
}
.action__investors-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__investors-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -40px;
}
.action__investors-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__investors-3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.action__investors-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__text {
  font-weight: 500;
  line-height: 1.26;
}
.action__img-handPhone {
  display: flex;
  max-width: 800px;
  width: 100%;
}

.action__gradient-Box {
  display: inline-block; /* или блок, в зависимости от ситуации */
  padding: 10px; /* при необходимости */
  /* Можно задать фон с градиентом, если нужно */
  /* background-image: linear-gradient(135deg, rgba(152, 194, 105, 1), rgba(158, 223, 182, 1)); */
  /* Или оставить пустым, если градиент нужен только внутри изображения */
}

.action__gradient-Box::after {
  content: "";
  position: absolute;
  top: -250px; /* или по вашему желанию */
  left: -180px;
  width: 184px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );

  filter: blur(280px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}
