@import "reset.css";
@import "fonts.css";

/* ============================================================== */

body {
  background-color: #0e0e12;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  font-family: "Gotham Pro", "arial", sans-serif;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  text-align: center;
}

/*==========================    MODAL  =================================*/

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 11;

  display: none;
  align-items: center;
  justify-content: center;
}
.modal__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 40px 30px;
  border: 6px solid #0e130e;
  border-radius: 20px;
  background: linear-gradient(90deg, #c4f1cc, #a7eeb4, #8bec9d, #6ae981);
  color: #000000;
  width: 600px;
  height: 700px;
  position: relative;
}
.modal__cancel {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
}
.modal__cancel img {
  width: 100%;
}

.modal__text {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal__form-label {
  position: relative;
}
.modal__form-label span {
  position: absolute;
  top: 10px;
  left: 17px;
  visibility: hidden;
}
.modal__form-input {
  display: block;
  border: 3px solid #0e130e;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 20px;
}
.modal__form-input:focus {
  padding: 30px 15px 10px;
}
.modal__form-input:focus + span {
  visibility: visible;
}
.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #0e130e;
  border-radius: 10px;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(90deg, #dc6b30, #e4864f, #ffbe82, #e49031);
  margin-bottom: 20px;
}
.modal__registr {
  font-weight: 500;
  text-decoration: underline;
}

/*=========================================================*/

.header__top {
  padding-top: 40px;
  margin-bottom: 30px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 1;
}

/*=========================================================*/

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
  gap: 5px;
  font-family: "Latin CT Wide";
  font-size: 12px;
  line-height: 1.19;
  order: -1;
}
.header__logo::before {
  content: url(../img/logo/crown.svg);
  position: absolute;
  top: -23px;
  left: 9px;
}

.header__logo-img {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lang {
  display: inline-block;
  max-width: 80px;
  margin-right: 70px;
}

.lang__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lang__item {
  position: relative;
  align-items: center;
  gap: 6px;
  margin-right: 95px;
  display: none; /* по умолчанию скрыто */
  cursor: pointer;
}

.activ {
  display: flex; /* показываем активный элемент */
}

.lang-selection {
  margin-left: 0px;
}

.lang-Button--selection {
  position: absolute;
  top: 2px;
  left: 58px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 140%;
  left: 0;
  background: #0e0e12;
  border: 1px solid #ccc;
  border-radius: 10%;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 12;
}

.lang__item.open .dropdown {
  display: block; /* показываем меню при открытии */
}

.dropdown li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f00e;
}

.dropdown img {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

/*=========================================================*/

/* Стили для бургер-меню */

.burger {
  display: none; /* по умолчанию скрыт, покажем на мобильных */
  width: 30px;
  height: 25px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10; /* чтобы было выше меню */
  order: -2;
}
.burger__item {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.burger__item:nth-child(even) {
  width: 20px;
}

/*=========================================================*/

.nav {
  margin-right: auto;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  margin-right: 95px;
}
.nav__link:hover {
  background: linear-gradient(
    45deg,
    rgba(231, 170, 25, 1),
    rgba(203, 109, 156, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__link:hover::before {
  content: url(../img/icon/Stars.svg);
  top: -50%;
  left: 105%;
  position: absolute;
}

.nav__link:last-child {
  margin-right: 0;
}
.nav__item {
}

.header__button {
  display: flex;
  gap: 20px;
}
.header__button-reg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 60px;

  border-radius: 20px;
  padding: 21px 28px;
}
.header__button-reg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* должен совпадать с радиусом элемента */
  padding: 1px; /* Толщина границы */
  background: linear-gradient(45deg, #ff8924, #ffb017); /* Ваш градиент */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* чтобы не мешал кликам */
}

.header__button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 60px;
  border-radius: 20px;
  font-weight: 700;
  color: #000000;
  background: linear-gradient(90deg, #dc6b30, #e4864f, #ffbe82, #e49031);
  padding: 25px 36px;
  box-shadow: 0px 6px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.76);
  transition: all 0.4s;
}
.header__button-open:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}

/*=========================================================*/

.chance {
  margin-bottom: 40px;
}
.chance__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  padding: 25px 40px 20px 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.07));
}
.chance__preview {
  display: flex;
  align-items: center;
}
.chance__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.chance__gift {
  margin-right: 15px;
}
.chance__title {
  font-weight: 700;
}
.chence__text {
}
.countdown {
  white-space: nowrap;
  font-size: 20px;
}
.countdown span {
  font-size: 30px;
}

/*=========================================================*/

.action {
}

.action__inner {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.action__content {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.action__title {
  display: block;
  max-width: 1000px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  color: #ffffff;
}
.ation__list {
  position: relative;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.59;
  color: #eae9e9;
  margin-bottom: 40px;
}
.ation__list::before {
  position: absolute;
  content: url(../img/decor/Arrow.svg);
  top: 25px;
  left: -60px;
}
.ation__item {
  position: relative;
  padding-left: 40px;
}
.ation__item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #eae9e9;
}
.action__button {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.action__button-download {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  color: #000000;
  padding: 36px 35px;
  max-width: 378px;
  width: 100%;
  transition: all 0.4s;
}

.action__button-download:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}

.action__button-download img {
  position: absolute;
  top: -10px;
  right: -30px;
}
.button {
  border-radius: 20px;
  background: linear-gradient(90deg, #dc6b30, #e4864f, #ffbe82, #e49031);
  box-shadow: 0px 6px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.76);
}
.action__button-openScore {
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  background: transparent;
  border: 4px solid #ce6933;
  border-radius: 20px;
  max-width: 377px;
  width: 100%;
  padding: 36px 25px;
}
.action__investors {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 71px;
}
.action__investors-1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -40px;
}
.action__investors-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__investors-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -40px;
}
.action__investors-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__investors-3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.action__investors-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action__text {
  font-weight: 500;
  line-height: 1.26;
}

.action__img-handPhone {
  display: flex;
  position: relative;
  max-width: 800px;
  width: 100%;
}

.hand-max {
  position: absolute;
  top: -130px;
  right: -240px;
  height: auto;
  z-index: -1;
}

.hand-mini {
  display: none;
}

.action__img-handPhone::before {
  content: "";
  position: absolute;
  top: 180px; /* или по вашему желанию */
  right: -20px;
  width: 484px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );
  border-radius: 50%; /* или по желанию */
  filter: blur(200px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}

.action__gradient-Box {
  display: inline-block; /* или блок, в зависимости от ситуации */
  padding: 10px; /* при необходимости */
  /* Можно задать фон с градиентом, если нужно */
  /* background-image: linear-gradient(135deg, rgba(152, 194, 105, 1), rgba(158, 223, 182, 1)); */
  /* Или оставить пустым, если градиент нужен только внутри изображения */
}

.action__gradient-Box::after {
  content: "";
  position: absolute;
  top: -250px; /* или по вашему желанию */
  left: -180px;
  width: 184px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );

  filter: blur(280px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}

/*========================= Main stocks ===================================*/

.stocks {
}
.stocks__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 162px;
}
.stocks__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  text-align: center;
  max-width: 850px;
  margin-bottom: 23px;
}
.stocks__text {
  font-size: 25px;
  line-height: 1.58;
  text-align: center;
  margin-bottom: 0px;
}
.stocks__text span {
  font-weight: bold;
}

.stocks__list {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: 20px;
  margin-bottom: 110px;
}
.stocks__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: #4bd879;
  font-size: 30px;
  line-height: 1.3;
}
.stocks__item:nth-child(odd) {
  margin-top: 150px;
}
.stocks__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
  max-width: 124px;
  padding: 5px 14px;
  border-radius: 18px;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}
.stocks__item:last-child {
  margin-right: 0px;
}
.stocks__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 144px;
  border-radius: 24px;
  background: #ffffff;
  overflow: hidden;
}
.stocks__item-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.stocks__text-more {
  font-size: 25px;
  line-height: 1.58;
  text-align: center;
  margin-bottom: 34px;
}
.stocks__text-more span {
  font-weight: 700;
}
.stocks__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  color: #000000;
  text-align: center;
  max-width: 377px;
  width: 100%;
  padding: 36px 25px;
  height: 106px;
  transition: all 0.4s;
}

.stocks__button:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}

/*=============================   Instrument   =======================================*/
.instrument {
}
.instrument__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}
.instrument__title {
  margin-bottom: 90px;
}
.instrument__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  color: #464545;
  padding: 100px 100px;
  column-gap: 100px;
  row-gap: 100px;
}
.instrument__grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.instrument__grid-cell-img {
  border: 4px solid #464545;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 130px;
  width: 100%;
}
.instrument__grid-cell-img img {
  width: 100%;
  object-fit: cover;
}
.instrument__grid-cell-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}
.instrument__grid-cell-text {
  font-size: 20px;
}

.instrument__grid-support {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  right: 0;
  background-color: #bebebe;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
}

/*=============================   Manual   =======================================*/
.manual {
}
.manual__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  color: #ffffff;
  column-gap: 20px;
  margin-bottom: 300px;
}
.manual__title {
  grid-column: 1/4;
  margin-bottom: 30px;
}
.manual__text {
  grid-column: 1/4;
  margin-bottom: 100px;
  text-align: center;
  font-size: 25px;
  line-height: 1.58;
}
.manual__column {
  grid-row: 3/4;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 377px;
  width: 100%;
}
.manual__column span {
  display: block;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.manual__column-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 30px;
  height: 140px;
}
.manual__column-text {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.59;
}
.manual__column-img.img-1 {
  position: absolute;
  top: -10px;
  right: -20px;
}
.manual__column-img.img-2 {
  position: absolute;
  top: -15px;
  right: -20px;
}
.manual__column-img.img-3 {
  position: absolute;
  top: -10px;
  right: -100px;
}
/*=============================   Bonus   =======================================*/
.bonus {
}
.bonus__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bonus__inner-santa {
  width: 100%;
  display: none;
}
.bonus__inner-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-170px, -300px);
  z-index: -1;
}
.bonus__inner-img-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(150px, -180px);
  z-index: -1;
}
.bonus__inner-img-3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(80px, 50px);
  z-index: -1;
}
.bonus__inner::after {
  content: "";
  position: absolute;
  top: 0px; /* или по вашему желанию */
  left: 0px;
  transform: translate(-100px, 50px);
  width: 184px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );

  filter: blur(180px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}
.bonus__inner::before {
  content: "";
  position: absolute;
  top: 0px; /* или по вашему желанию */
  right: 0px;
  transform: translate(150px, 50px);
  width: 184px; /* любой размер или 100% для растяжения */
  height: 478px; /* любой размер */
  background-image: linear-gradient(
    135deg,
    rgba(152, 194, 105, 1),
    rgba(158, 223, 182, 1)
  );

  filter: blur(180px); /* размытие */
  z-index: -1; /* чтобы был позади содержимого */
  pointer-events: none; /* чтобы не мешал взаимодействию */
}
.bonus__img {
  margin-bottom: -40px;
}
.bonus__title {
  max-width: 640px;
  margin-bottom: 35px;
}
.bonus__text {
  max-width: 730px;
  font-size: 25px;
  line-height: 1.58;
  text-align: center;
  margin-bottom: 70px;
}
.bonus__button {
  display: flex;
  min-width: 800px;
  gap: 20px;
  margin-bottom: 250px;
}
.bonus__button-click {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  max-width: 376px;
  width: 100%;
  height: 106px;
  transition: all 0.4s;
  color: #000000;
}
.bonus__button-click:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}
.bonus__button-open {
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  background: transparent;
  border: 4px solid #ce6933;
  border-radius: 20px;
  max-width: 377px;
  width: 100%;
  padding: 36px 25px;
}
/*=============================   Cards   =======================================*/

.cards {
  margin-bottom: 140px;
}
.cards__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__title {
  max-width: 980px;
  margin-bottom: 80px;
}
.cards__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
  position: relative;
}
.cards__grid-column {
  display: flex;
  flex-direction: column;
  background-color: #1b1b1c;
  max-width: 378px;
  width: 100%;
  height: 442px;
  border-radius: 5px;
  padding: 52px 34px 34px 42px;
  cursor: pointer;
}
.cards__grid-column:hover {
  height: 500px;
  background-image: linear-gradient(
    135deg,
    rgba(194, 173, 105, 0.2),
    rgba(182, 223, 158, 0.2)
  );
}
.cards__grid-column:hover .cards__grid-column-excerpt {
  animation: example 2s infinite;
}

.cards__grid-column-img {
  margin-bottom: 35px;
}
.cards__grid-column-title {
  margin-bottom: 35px;
  font-size: 26px;
  line-height: 1.25;
  font-weight: 500;
}
.cards__grid-column-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.57;
  margin-bottom: auto;
}
.cards__grid-column-excerpt {
  font-size: 18px;
  line-height: 1.57;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
}

/*=============================   briefcase =======================================*/

.briefcase {
  margin-bottom: 240px;
}
.briefcase__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.briefcase__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  gap: 30px;
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 690px;
  width: 100%;
}
.chart__arch {
  position: relative;
  margin-bottom: -230px;
}
.chart__arch img {
}
.chart__arch::before {
  position: absolute;
  content: url(../img/decor/dugaGradient.svg);
  top: 65px;
  left: 0;
}

.chart__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.57;
}
.chart__text-discount {
  font-weight: 500;
  font-size: 65px;
  line-height: 1.17;
  margin-bottom: 20px;
}
.chart__text-risk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 32px;
  border-radius: 35px;
  background: linear-gradient(rgba(66, 89, 74, 0.4), rgba(101, 204, 125, 0.22));
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 1.26;
  text-align: center;
}
.chart__line {
  position: relative;
  display: block;
  width: 412px;
  height: 10px;
  background-color: #303030;
  margin-bottom: 50px;
}
.point {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #61bb75;
  cursor: grab;
  transform: translate(-50%, -50%);
}
.chart__arch-radio {
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.57;
  gap: 30px;
}
.chart__label {
  pointer-events: none;
}
.chart__checkbox {
  appearance: none;
  width: 42px;
  height: 42px;
  border: 2px solid rgba(101, 202, 124, 1);
  border-radius: 50%;
  margin-bottom: -12px;
  margin-right: 20px;
  cursor: pointer;
  pointer-events: auto;
}
.chart__checkbox:focus {
  border: 12px solid rgba(101, 202, 124, 1);
}
.briefcase__body-info {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  width: 100%;
}
.briefcase__body-info-title {
  text-align: left;
  margin-bottom: 18px;
}
.briefcase__body-info-text {
  font-size: 25px;
  line-height: 1.58;
  max-width: 510px;
  margin-bottom: 50px;
}
.briefcase__body-info-button {
  width: 378px;
  height: 106px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  transition: all 0.4s;
}
.briefcase__body-info-button:active {
  box-shadow: 0px 2px 0px 0px rgba(143, 65, 25, 1),
    0px 3px 49px -3px rgba(226, 128, 72, 0.4);
}
.briefcase__column {
  display: flex;
  justify-content: space-between;
}
.briefcase__column span {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.9);
  max-width: 389px;
  text-align: center;
}
.briefsace__column-investors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  background: linear-gradient(180deg, #65cb7c 0%, #466951 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
.briefsace__column-instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  background: linear-gradient(180deg, #65cb7c 0%, #466951 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
.briefsace__column-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  background: linear-gradient(180deg, #65cb7c 0%, #466951 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

/*=============================   Media adaptive =======================================*/

@media (max-width: 1600px) {
  /*=============================   Header =======================================*/

  /*=============================   Action   =======================================*/
}
@media (max-width: 1500px) {
  /*=============================   Header =======================================*/

  .nav__link {
    margin-right: 60px;
  }
  .lang {
    margin-right: 50px;
  }

  /*=============================   Manual   =======================================*/
  .manual__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .manual__column {
    justify-self: center;
  }
  .manual__column:last-child {
    grid-row: 4;
    grid-column: 1/4;
    justify-self: center;
    margin-top: 60px;
  }
  /*=============================   Cards  =======================================*/
  .cards__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /*=============================   briefcase =======================================*/
  .briefcase__inner {
    flex-direction: row;
    gap: 40px;
  }
  .briefcase__body {
    flex-direction: column;
    margin-bottom: 0px;
    gap: 100px;
  }

  .briefcase__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 300px;
  }
  .briefcase__body-info {
    align-items: center;
  }
  .briefcase__body-info-title {
    text-align: center;
  }
}
@media (max-width: 1300px) {
  /*=============================   Header =======================================*/

  .nav__link {
    position: relative;
    margin-right: 30px;
  }

  .nav__link:last-child {
    margin-right: 20px;
  }
  .lang {
    position: relative;
    display: inline-block;
    max-width: 80px;
    margin-right: 30px;
  }

  /*=============================   Action   =======================================*/

  .hand-max {
    display: block;
    transform: scale(0.7);
    top: -60px;
    right: -280px;
  }
  .action__img-handPhone::before {
    transform: scale(0.8);
    top: 280px; /* или по вашему желанию */
    right: -80px;
  }
  /*=============================   Bonus   =======================================*/
  .bonus__inner-img-1 {
    display: none;
  }
  .bonus__inner-img-2 {
    display: none;
  }
  .bonus__inner-img-3 {
    display: none;
  }
  .bonus__inner::after {
    display: none;
  }
  .bonus__inner::before {
    display: none;
  }
  .bonus__inner-santa {
    width: 100%;
    display: block;
    margin-top: -180px;
    opacity: 0.5;
  }
}
@media (max-width: 1200px) {
  /*=============================   Header =======================================*/

  .header__button-reg {
    width: 100px;
    padding: 21px 20px;
  }

  .header__button-open {
    width: 180px;
    padding: 25px 25px;
  }
}

@media (max-width: 1100px) {
  /*=============================   Header =======================================*/

  .header__inner {
    justify-content: start;
  }

  .burger {
    display: flex; /* показываем на мобильных */
    margin-right: 40px;
  }

  /* скрываем навигацию по умолчанию */
  .nav {
    position: absolute;
    top: 100px; /* под шапкой, настройте по необходимости */
    left: 15px;
    background-color: #0e0e12;
    padding: 15px 20px;
    border-radius: 8px;
    display: none; /* скрыто по умолчанию */
    flex-direction: column;
    width: 160px;
    z-index: 11;
  }
  .nav__list {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .nav__link {
    margin-right: 0px;
  }
  .nav__link:last-child {
    margin-right: 0;
  }
  .nav__link:hover::before {
    content: "";
    top: -50%;
    left: 105%;
    position: absolute;
  }
  /* показываем меню при активном классе */
  .nav.show {
    display: flex;
  }

  .lang {
    margin-right: auto;
  }

  .header__button-reg {
    width: 115px;
    padding: 21px 25px;
  }

  .header__button-open {
    width: 240px;
    padding: 25px 30px;
  }
  /*=============================   Action   =======================================*/
  .action__inner {
    flex-direction: column;
  }
  .action__content {
    min-width: auto;
  }
  .action__title {
    font-size: 62px;
  }
  .action__img-handPhone {
    min-height: 600px;
    max-width: 1100px;
  }
  .hand-max {
    display: none;
  }
  .hand-mini {
    display: block;
    position: absolute;
    top: 100px;
    right: 160px;
    transform: scale(2.5);
    z-index: -1;
  }
  .action__img-handPhone::before {
    top: -20px; /* или по вашему желанию */
    right: 140px;
  }
  /*=============================   Main   =======================================*/
  /*=============================   Stocks   =======================================*/
  .stocks__item {
    font-size: 27px;
  }
  .stocks__list {
    gap: 15px;
  }
  .stocks__item-img {
    width: 130px;
    height: 130px;
    padding: 10px 10px;
  }
  /*=============================   Instrument =======================================*/

  .instrument__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 70px 80px 50px;
    column-gap: 60px;
    row-gap: 80px;
  }
  /*=============================   Cards  =======================================*/
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  /*=============================   briefcase =======================================*/
  .briefcase__inner {
    flex-direction: column;
    align-items: center;
  }
  .briefcase__body {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .briefcase__column {
    flex-direction: row;
    gap: 30px;
  }
  .briefsace__column-investors {
    font-size: 50px;
  }
  .briefsace__column-instrument {
    font-size: 50px;
  }
  .briefsace__column-result {
    font-size: 50px;
  }
  .briefcase__column span {
    font-size: 22px;
  }
}
@media (max-width: 900px) {
  /*=============================   Action   =======================================*/

  .hand-mini {
    display: block;
    position: absolute;
    top: 100px;
    right: 130px;
    transform: scale(2);
    z-index: -1;
  }
  .action__img-handPhone::before {
    top: -20px; /* или по вашему желанию */
    right: 110px;
    transform: scale(0.7);
  }
  /*=============================   Main   =======================================*/
  /*=============================   Stocks   =======================================*/
  .stocks__list {
    gap: 10px;
  }
  .stocks__item {
    font-size: 22px;
  }
  .stocks__item span {
    font-size: 16px;
  }
  .stocks__item-img {
    width: 110px;
    height: 110px;
    padding: 10px 10px;
  }

  /*=============================   Manual   =======================================*/

  .manual__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    margin-bottom: 240px;
  }
  .manual__column {
    grid-row: auto;
    grid-column: 1/2;
    max-width: 500px;
    margin-bottom: 80px;
    justify-self: start;
  }
  .manual__column:last-child {
    grid-column: 1/2;
    grid-row: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-self: start;
  }
  .manual__column-title {
    margin-bottom: 30px;
    max-height: 140px;
    height: 100%;
  }

  .manual__column-img.img-1 {
    top: -30px;
    right: -50px;
  }
  .manual__column-img.img-2 {
    top: -50px;
    right: -100px;
  }
  .manual__column-img.img-3 {
    top: -50px;
    right: -100px;
  }
  /*=============================   Bonus   =======================================*/
  .bonus__img {
    margin-bottom: -30px;
    transform: scale(0.9);
  }
  /*=============================   Cards  =======================================*/
  .cards__grid {
    gap: 20px;
  }
  /*=============================   briefcase =======================================*/
  .briefcase__column {
    gap: 80px;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  /*=============================   Header =======================================*/

  .burger {
    display: flex; /* показываем на мобильных */
    margin-right: 15px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__button {
    margin-left: 20px;
  }
  .header__button-reg {
    width: 90px;
    padding: 21px 20px;
  }

  .header__button-open {
    width: 180px;
    padding: 25px 20px;
  }

  /*====================================================================*/

  .chance__inner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
  }

  /*=============================   Action   =======================================*/
  .action__title {
    font-size: 52px;
  }
  .ation__list {
    font-size: 25px;
  }
  .ation__item::after {
    top: 14px;
    width: 12px;
    height: 12px;
  }
  .action__button-download {
    min-width: 378px;
  }
  .action__button-openScore {
    padding: 25px;
  }
  /*=============================   Main   =======================================*/
  /*=============================   Stocks   =======================================*/
  .stocks__inner {
    padding: 10px 0 120px;
  }
  .stocks__title {
    font-size: 52px;
  }
  .stocks__text {
    font-size: 25px;
  }
  .stocks__text {
    font-size: 25px;
    line-height: 1.58;
    text-align: center;
    margin-bottom: 50px;
  }

  .stocks__list {
    margin: 0 -10px;
    overflow: auto;
    margin-bottom: 60px;
    padding-bottom: 20px;
  }

  .stocks__item:nth-child(odd) {
    margin-top: 0px;
  }
  /*=============================   Bonus   =======================================*/
  .bonus__img {
    transform: scale(0.8);
    margin-bottom: -30px;
  }
  .bonus__button {
    min-width: 600px;
  }
  /*=============================   Cards  =======================================*/
  .cards__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards__grid-column {
    max-width: 620px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
  }
  /*=============================   briefcase =======================================*/
  .chart__arch {
    position: relative;
    margin-bottom: -230px;
    transform: scale(0.8);
  }
}
@media (max-width: 650px) {
  /*=============================   Header =======================================*/
  .header__inner {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    grid-template-rows: auto;
    row-gap: 20px;
    font-size: 14px;
  }
  .header__button {
    grid-column: 1 / 4;
    justify-content: center;
  }
  .header__button-open {
    width: 180px;
    padding: 25px 15px;
  }
  .dropdown {
    left: -57px;
    min-width: 115px;
    z-index: 12;
  }

  /*=============================   Action   =======================================*/
  .action__title {
    font-size: 42px;
  }
  .ation__list {
    font-size: 20px;
  }
  .ation__item {
    padding-left: 30px;
  }
  .ation__item::after {
    top: 10px;
    width: 10px;
    height: 10px;
  }
  .action__img-handPhone {
    min-height: 400px;
  }
  .hand-mini {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    transform: scale(1.5);
    z-index: -1;
  }
  .action__img-handPhone::before {
    top: -60px; /* или по вашему желанию */
    right: 10px;
    transform: scale(0.6);
  }
  .action__button {
    flex-direction: column;
    align-items: center;
  }
  .action__button-openScore {
    font-size: 16px;
  }
  .action__button-download {
    font-size: 16px;
    min-width: 0;
  }
  /*=============================   Main   =======================================*/
  /*=============================   Stocks   =======================================*/
  .stocks__inner {
    padding: 10px 0 100px;
  }
  .stocks__title {
    font-size: 42px;
  }
  .stocks__text {
    font-size: 20px;
  }
  .stocks__text-more {
    font-size: 20px;
  }
  .stocks__button {
    font-size: 16px;
  }
  /*=============================   Instrument =======================================*/

  .instrument__grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 120px 40px 60px 40px;
  }
  .instrument__grid-support {
    top: 0%;
  }
  .title {
    font-size: 42px;
  }

  /*=============================   Manual   =======================================*/
  .manual__inner {
    margin-bottom: 100px;
  }
  .manual__text {
    font-size: 22px;
  }
  .manual__column span {
    font-size: 18px;
  }
  .manual__column-title {
    font-size: 25px;
  }
  .manual__column-text {
    font-size: 18px;
  }

  .manual__column-img img {
    height: 80px;
  }
  .manual__column-img.img-1 {
    top: -50px;
    left: 100px;
  }
  .manual__column-img.img-2 {
    top: -50px;
    left: 100px;
  }
  .manual__column-img.img-3 {
    top: -50px;
    left: 100px;
  }
  /*=============================   Bonus   =======================================*/
  .bonus__img {
    transform: scale(0.5);
    margin-bottom: -50px;
  }
  .bonus__button {
    align-items: center;
    min-width: 370px;
    flex-direction: column;
    font-size: 16px;
  }
  .bonus__button-open {
    font-size: 16px;
  }
  .bonus__button-click {
    font-size: 16px;
  }
  /*=============================   Cards  =======================================*/
  .cards__grid-column {
    height: 450px;

    padding: 30px 30px 30px 30px;
  }
  /*=============================   briefcase =======================================*/
  .briefcase__body-info {
 
  }
  .briefcase__body-info-title {

  }
}

@media (max-width: 400px) {
  /*=============================   Header =======================================*/

  .lang {
    max-width: 60px;
  }
  .flag-icon {
    display: none;
  }
  .lang-Button--selection {
    position: absolute;
    top: -2px;
    left: 30px;
    cursor: pointer;
  }

  /*====================================================================*/

  .chance__inner {
    padding: 25px auto;
  }
  .countdown {
    font-size: 16px;
  }
  .chance__preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /*=============================   Action   =======================================*/
  .action__title {
    font-size: 32px;
  }
  .ation__list {
    font-size: 15px;
  }
  .ation__item {
    padding-left: 30px;
  }
  .ation__item::after {
    top: 8px;
    width: 8px;
    height: 8px;
  }
  .hand-mini {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    transform: scale(1.1);
    z-index: -1;
  }
  .action__img-handPhone::before {
    top: -60px; /* или по вашему желанию */
    right: -20px;
    transform: scale(0.5);
  }
  /*=============================   Main   =======================================*/
  /*=============================   Stocks   =======================================*/
  .stocks__title {
    font-size: 32px;
  }
  .stocks__text {
    font-size: 15px;
  }
  .stocks__text-more {
    font-size: 15px;
  }
  /*=============================   Instrument =======================================*/

  .instrument__grid {
    padding: 120px 20px 40px 20px;
    row-gap: 40px;
  }
  .instrument__grid-support {
    top: 0%;
  }
  .instrument__grid-cell-img {
    border: 2px solid #464545;
    max-width: 100px;
  }
  .instrument__grid-cell-title {
    font-size: 20px;
  }
  .instrument__grid-cell-text {
    font-size: 16px;
  }
  .title {
    font-size: 32px;
  }
  /*=============================   Manual   =======================================*/
  .manual__text {
    font-size: 20px;
  }
  .manual__column-text {
    font-size: 16px;
  }
  /*=============================   Bonus   =======================================*/
  .bonus__img {
    transform: scale(0.3);
    margin-bottom: -50px;
  }
  .bonus__button {
    min-width: 300px;
  }
  /*=============================   Cards  =======================================*/
  .cards__grid-column {
    height: 350px;
    padding: 20px 20px 20px 20px;
  }
  .cards__grid-column-img {
    margin-bottom: 20px;
  }
  .cards__grid-column-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .cards__grid-column-text {
    font-size: 18px;
  }
}

@keyframes example {
  0% {
    font-size: 18px;
  }
  50% {
    font-size: 22px;
  }
  100% {
    font-size: 18px;
  }
}
